<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- NOTE: Remember to replace YOURKEYHERE with a valid Google Maps API key  -->
    <add key="MapsUri" value="https://maps.googleapis.com/maps/api/geocode/json?address={0}&key=YOURKEYHERE" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
